{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/wrap-multilines": 0,
    "react/react-in-jsx-scope": 2,
    "react/sort-comp": 0,
    "spaced-comment": 1,
    "id-length": 0,
    // Temporarirly disabled due to a possible bug in babel-eslint (todomvc example)
    "block-scoped-var": 0,
    // Temporarily disabled for test/* until babel/babel-eslint#33 is resolved
    "padded-blocks": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-nested-ternary": 0,
    "spaced-comment": 0,
    "no-multiple-empty-lines": 0,
    "react/jsx-no-bind": [2, {"ignoreRefs": true}]
  },
  "plugins": [
    "react", "import"
  ],
  "ecmaFeatures": {"jsx": true},
  "parser": "babel-eslint",
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true
  }
}
